body {
  margin: 0;
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
  background: #fff;
}

#wrapper {
  width: 35em;
  margin: auto;
  padding: 60px;
  display: flex;
  flex-direction: column;
  #header {
    padding-top: 3em;
    p{
      display: flex;
      flex-direction: row;
    }
    #required-text{
      display: flex;
    }
  }
  #logo {
    background-color: #57068c;
    height: max-content;
    padding: 1vh 3vw 1vh 5vw;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
  }
  form {
    .msgWrap {
      #message {
        width: 30em;
        margin-top: 20px;
      }
    }
    label{
      display: flex;
      flex-direction: row;
    }
    input, select, .btn-group {
      margin: 10px 0px 10px 0px;
    }
    .btn-group {
      width: 17em;
    }
    button.btn-primary {
      background-color: #57068c;
      border-color: #57068c;
    }
    button.btn-primary:hover {
      background-color: #6c07ae;
    }
  }
}

@media only screen and (max-width: 800px) {
  #wrapper {
    hr {
      width: 17em;
    }
    form {
      input, select, .btn-group, div.dropdown {
        width: 17em;
      }
      #errorMsg {
        width: 15em;
      }
      #notes {
        width: 17em;
      }
    }
  }
}
