body {
  margin: 0;
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
  background: #42056a;
  display: flex;
  justify-content: center;
}

#wrapper {
  background: #fff;
  width: 40em;
  margin: 10px;
  padding: 50px;
  #header {
    hr{
      color: #acb6c2;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    input {
      width: 30em;
      margin: 10px 0px 10px 0px;
    }
    select {
      width: 30em;
      margin: 10px 0px 10px 0px;
    }
    button {
      width: 10em;
    }
  }
};
